.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.tech-stack {
  display: flex;
  justify-content: center; /* Centers the items horizontally */
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
  list-style-type: none; /* Removes default list styling */
  padding: 0;
}

.tech-item {
  margin: 10px; /* Adjust margin between items */
  text-align: center;
}

.tech-item i {
  font-size: 2rem; /* Adjust size as needed */
}

.tech-item p {
  margin-top: 5px;
}
