.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(2, 29, 2);
}

.navbar a {
  color: whitesmoke;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h5 {
  font-size: 40px;
}

.App-header {
  background-color: #72907e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* about-me section */
.about-me-card {
  background-color: #a1b197;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  margin: 0 30px;
  margin-bottom: 30px;
  max-width: 70%;
}

h1 {
  color: rgb(2, 29, 2);
  font-size: 35px;
}

.card-content li {
  color: rgb(2, 29, 2);
  font-size: 20px;
  margin: 10px;
  text-align: left;
}

.card-content h3 {
  font-size: 25px;
}


/* profile picture */
.profile-picture {
  margin-top: 30px;
  width: 14%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(8, 53, 8, 0.5), 0 0 20px rgba(0, 69, 0, 0.3);
}

/* resume button */
.button-class{
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(1, 58, 1);
}

.button-class a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
/* tech stack */

.tech-stack {
  display: flex;
  justify-content: center; /* centers items horizontally */
  flex-wrap: wrap; /* allows items to wrap to the next line if necessary */
  list-style-type: none; /* no underline */
  padding: 0;
  margin: 30px;
  background-color: #ebebeb;
  border-radius: 10px;

}

.tech-item {
  flex-basis: calc(100% / 20); /* adjust the number to control the number of items per row */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  size: 20px;
}

/* experiences cards */

h2 {
  font-family: "Recursive", sans-serif;
  font-size: 35px;
}

.card {
  display: flex;
  align-items: center; /* align items vertically */
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px); /* move card up on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* larger box shadow on hover */
}

.card .logo {
  width: 20%;
  height: 100%;
  margin-right: 20px; /* space between logo and card content */
  border-radius: 50%;
  object-fit: cover;
  padding-right: 10%;
}

.card-content {
  flex: 1; /* allows card content to expand to fill remaining space */
}

.card h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.card p {
  margin-bottom: 0;
  color: #555;
}

.card .company {
  font-weight: bold;
}

.card .date {
  color: #777;
}

.experience-text {
  border: 3px solid #72907e;
  padding: 20px;
}
/* coursework section */

.section ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.section ul li {
  background-color: #f9f9f9;
  padding: 15px; /* padding around each item */
  border-radius: 8px;
  margin-bottom: 10px; /* space between each item */
}

.section ul li:hover {
  background-color: #e9ecef; /* background color on hover */
}

.coursework-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  justify-content: center;
}

.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden; /* image doesn't overflow the card */
}

.course-card::before {
  content: attr(data-number);
  display: none;
  font-weight: bold;
}

.course-card:hover p {
  display: none;
  margin: auto;
}

.course-card:hover::before {
  display: block;
}

/* projects Section */

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden; /* image doesn't overflow the card */
}

.project-card:hover {
  transform: translateY(-5px); /* move card up on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* larger box shadow on hover */
}

.project-image {
  width: 100%; /* image takes full width */
  height: auto; /* not distorted image */
}

/* footer */
.black-icon {
  color: black; /* icon color*/
  padding: 10px 10px; /* padding between icons */
}

.larger-icon {
  font-size: 35px; /* footer icon size */
}